*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'Existence-Light';
    src: url(fonts/Existence-Light.otf) format('woff');
}

body
{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: url('images/0.jpg');

    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    font-family: 'Existence-Light', sans-serif;

    user-select: none;
    -moz-user-select: none;
}

#main
{
    color: white;
    font-weight: bold;
}

.centered
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.dialog
{
    font-size: 2rem;
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dialog-box
{
    background-color: white;
    margin: auto;
    padding: 2.5rem;
    width: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smooth-visibility
{
    transition: opacity 350ms;
}

.text-shadow
{
    text-shadow: 5px 5px 7px black;
}

#bookmark-search
{
    font-size: 5rem;
    opacity: 0;
}

#bookmark-results
{
    font-size: 3rem;
    opacity: 0;
    cursor: pointer;
}

#clock
{
    font-size: 11rem;
}

#date
{
    font-size: 3rem;
}

#settings-icon
{
    float: right;
    width: 5rem;
    margin: 1rem;

    filter: drop-shadow(0.3rem 0.3rem 3px rgba(0, 0, 0, 0.8));

    cursor: pointer;
}
